/*
  Fonts 
*/
@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Playwright;
  src: url(/assets/fonts/Playwright/PlaywriteIN-Regular.ttf);
}

@font-face {
  font-family: Barriecito;
  src: url(/assets/fonts/Barriecito/Barriecito-Regular.ttf);
}

:root {
  /* Color */
  --light-blue: #B0E0E6;
  --light-green: #98FB98;
  --light-pink: #FFB6C1;
  --tomato-red: #FF6347;
  --vibrant-yellow: #FFD700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1rem "Poppins", sans-serif;
  background-color: #F8F8F8;
  margin-top: 120px;
  margin-bottom: 30px;
}

h1 {
  font: 40px "Barriecito", sans-serif;
  width: 80%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--vibrant-yellow);
  width: 80%;
  height: 550px;
  padding: 1rem;
  padding-top: 1.5rem;
  border: thin solid black;
  margin: auto;
}

p {
    width: 95%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font: 1.2rem "Barriecito" ,sans-serif;
    font-weight: bolder;
    margin-bottom: 10px;
}

form button {
  display: block;
  background-color: #2A994C;
  color: white;
  width: 80%;
  height: auto;
  padding: 8px;
  border: 1.6px solid black;
  font: inherit;
  font-weight: bolder;
  margin: 15px auto 1.5rem auto;
}

form button:active,
form button:hover,
form button:focus {
  filter: brightness(80%);
}

.highlight {
    color: var(--tomato-red);
    font-weight: bold;
}

label {
    margin-left: 20px;
    width: 90%;
    display: block;
}

input, textarea {
    display: block;
    margin: 10px auto;
    width: 95%;
    height: 35px;
    padding: 12px;
    border: 2px solid var(--tomato-red);
    border-radius: 5px;
    font: inherit;
}

textarea {
    height: 70px;
}

input:focus, textarea:focus {
    outline: 0;
}

input[type="text"] {
    text-transform: capitalize;
}

.dialog-box {
    width: 80%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    padding: 10px;
    border: thin solid black;
    position: fixed;
    top: 40px;
    transition: all ease 3s;
    animation: pop 0.5s  ease;
}

.message {
    width: 70%;
}

.dialog-box .hide-btn {
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
}

.hide-btn:hover {
    opacity: 70%;
}

.success {
    color: #02531a;
    background: var(--light-green);
}

.error {
    color: #94091e;
    background: var(--light-pink);
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.disabled {
    user-select: none;
    opacity: 70%;
}

.header {
  font: 1.5rem "Barriecito", sans-serif;
  font-weight: bold;
}

.little-description {
    width: 95%;
    text-align: center;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bolder;
}

.highlight {
    color: var(--tomato-red);
    font-weight: bold;
}

.logo {
  display: block;
  font-family: "Playwright", sans-serif;
  color: var(--tomato-red);
  margin: 0;
  padding: 5px;
  padding-left: 8px;
  text-decoration: none;
  position: fixed;
  top: 0;
  background: #F8F8F8;
  width: 100%;
  height: 65px;
  border-bottom: thin solid black;
  z-index: 100;
}

.menu-btn {
  font: 1.7rem monospace;
  position: fixed;
  top: -18px;
  right: -18px;
  width: 80px;
  height: 100px;
  padding: 50px;
  border-radius: 45%;
  background-color: var(--light-green);
  border: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  z-index: 150;
}

.logout-btn {
  font: inherit;
  font-weight: bold;
  background: var(--tomato-red);
  color: black;
  border: thin solid black;
  width: 150px;
  padding: 10px;
  cursor: pointer;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

.nav-links {
  display: none;
}

.menu {
  background-color: var(--light-green);
  border-right: 1.2px solid black;
  width: 0;
  padding: 0;
  height: 100vh;
  margin: auto;
  position: fixed;
  left: 0;
  top: 65px;
  transition: all ease-out 0.3s;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.menu li a {
  color: black;
  font-size: 1.2rem;
}

.menu li {
  list-style-type: none;
  margin: 1.2rem auto;
  text-align: center;
}

.close-btn {
  font: 2.6rem monospace;
  position: fixed;
  top: -18px;
  right: -18px;
  width: 80px;
  height: 100px;
  padding: 50px;
  border-radius: 45%;
  background-color: var(--light-green);
  border: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  z-index: 150;
  display: none;
}

.blur {
  /* filter: blur(2px); */
  opacity: 40%;
}

.active {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Animations */
@keyframes pop {
    0% {
        transform: scale(80%);
    }
    100% {
        transform: scale(100%);
    }
}

@media screen and (min-width: 1024px) {
  body {
    margin-top: 130px;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 90px;
  }

  .whole-page {
    opacity: 100% !important;
  }

  .pack {
    margin: auto;
  }

  header {
    height: 10vh;
  }

  .menu-btn,
  .menu,
  .close-btn {
    display: none !important;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: fixed;
    top: 13px;
    right: 25px;
    border: 1px solid black;
    background-color: var(--light-green);
    width: auto;
    height: auto;
    padding: 5px;
    z-index: 100;
  }

  .nav-links li a {
    color: black;
    font-size: 1.2rem;
  }

  .nav-links li {
    list-style-type: none;
  }

  .nav-links button {
    font: inherit;
    font-weight: bold;
    background: var(--tomato-red);
    color: black;
    border: thin solid black;
    width: 150px;
    padding: 10px;
    cursor: pointer;
  }

  .simple-dialog {
    width: 70%;
    left: 15vw;
  }
}

@media screen and (min-width: 824px) {
  main {
    width: 500px;
    height: 500px;
  }
};