/*
  Fonts 
*/
@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Playwright;
  src: url(/assets/fonts/Playwright/PlaywriteIN-Regular.ttf);
}

@font-face {
  font-family: Barriecito;
  src: url(/assets/fonts/Barriecito/Barriecito-Regular.ttf);
}

:root {
  /* Color */
  --light-blue: #B0E0E6;
  --light-green: #98FB98;
  --light-pink: #FFB6C1;
  --tomato-red: #FF6347;
  --vibrant-yellow: #FFD700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1rem "Poppins", sans-serif;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

h1 {
  font: 40px "Barriecito", sans-serif;
  width: 80%;
}

p {
  width: 80%;
}

a {
  font: 1rem monospace;
  font-weight: bold;
  color: var(--tomato-red);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--vibrant-yellow);
  width: 80%;
  height: 550px;
  padding: 1rem;
  border: thin solid black;
}

.logo {
  display: block;
  font: 1.3rem "Playwright", sans-serif;
  font-weight: bolder;
  color: var(--tomato-red);
  margin: 20px;
  padding: 5px;
  text-decoration: none;
}

@media screen and (min-width: 824px) {
  main {
    width: 500px;
    height: 500px;
  }
}