/*
  Fonts 
*/
@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Playwright;
  src: url(/assets/fonts/Playwright/PlaywriteIN-Regular.ttf);
}

@font-face {
  font-family: Barriecito;
  src: url(/assets/fonts/Barriecito/Barriecito-Regular.ttf);
}

:root {
  /* Color */
  --light-blue: #B0E0E6;
  --light-green: #98FB98;
  --light-pink: #FFB6C1;
  --tomato-red: #FF6347;
  --vibrant-yellow: #FFD700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1rem "Poppins", sans-serif;
  background-color: #F8F8F8;
  margin-top: 120px;
  margin-bottom: 30px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--vibrant-yellow);
  width: 80%;
  height: 550px;
  padding: 1rem;
  padding-top: 1.5rem;
  border: thin solid black;
  margin: auto;
}

.header {
  font: 1.5rem "Barriecito", sans-serif;
  font-weight: bold;
}

.little-description {
    width: 95%;
    text-align: center;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bolder;
}

/* a {
  font: 1rem monospace;
  font-weight: bold;
  color: var(--tomato-red);
} */

.highlight {
    color: var(--tomato-red);
    font-weight: bold;
}

.logo {
  display: block;
  font-family: "Playwright", sans-serif;
  color: var(--tomato-red);
  margin: 0;
  padding: 5px;
  padding-left: 8px;
  text-decoration: none;
  position: fixed;
  top: 0;
  background: #F8F8F8;
  width: 100%;
  height: 65px;
  border-bottom: thin solid black;
  z-index: 100;
}

.menu-btn {
  font: 1.7rem monospace;
  position: fixed;
  top: -18px;
  right: -18px;
  width: 80px;
  height: 100px;
  padding: 50px;
  border-radius: 45%;
  background-color: var(--light-green);
  border: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  z-index: 150;
}

.logout-btn {
  font: inherit;
  font-weight: bold;
  background: var(--tomato-red);
  color: black;
  border: thin solid black;
  width: 150px;
  padding: 10px;
  cursor: pointer;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

.nav-links {
  display: none;
}

.menu {
  background-color: var(--light-green);
  border-right: 1.2px solid black;
  width: 0;
  padding: 0;
  height: 100vh;
  margin: auto;
  position: fixed;
  left: 0;
  top: 65px;
  transition: all ease-out 0.3s;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.menu li a {
  color: black;
  font-size: 1.2rem;
}

.menu li {
  list-style-type: none;
  margin: 1.2rem auto;
  text-align: center;
}

.close-btn {
  font: 2.6rem monospace;
  position: fixed;
  top: -18px;
  right: -18px;
  width: 80px;
  height: 100px;
  padding: 50px;
  border-radius: 45%;
  background-color: var(--light-green);
  border: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  z-index: 150;
  display: none;
}

.blur {
  /* filter: blur(2px); */
  opacity: 40%;
}

.active {
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  body {
    margin-top: 130px;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 90px;
  }

  .whole-page {
    opacity: 100% !important;
  }

  .pack {
    margin: auto;
  }

  header {
    height: 10vh;
  }

  .menu-btn,
  .menu,
  .close-btn {
    display: none !important;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: fixed;
    top: 13px;
    right: 25px;
    border: 1px solid black;
    background-color: var(--light-green);
    width: auto;
    height: auto;
    padding: 5px;
    z-index: 100;
  }

  .nav-links li a {
    color: black;
    font-size: 1.2rem;
  }

  .nav-links li {
    list-style-type: none;
  }

  .nav-links button {
    font: inherit;
    font-weight: bold;
    background: var(--tomato-red);
    color: black;
    border: thin solid black;
    width: 150px;
    padding: 10px;
    cursor: pointer;
  }

  .simple-dialog {
    width: 70%;
    left: 15vw;
  }
}

@media screen and (min-width: 824px) {
  main {
    width: 500px;
    height: 500px;
  }
};